html, body {
    background: #ffbcbc;
     
}

h1 {
    text-align: center;
}

button {
    text-align:center;
}

section {
    background: rgb(162,0,0);
background: linear-gradient(90deg, rgba(162,0,0,1) 0%, rgba(254,178,178,1) 100%);
    height: 500px;
    margin: 25px auto;
}

header{
    font-size:40px;
    padding: 15px;
    font-weight:bold;
}

h2 {
    font-weight:bold;
}

p {
    font-size: 25px;
    padding-left: 2%;
    padding-right: 2%;
}

img {
    height: 200px;
}


.introduction {
    position: relative;
    top: 100px;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
}

.btn {
    background: #ff8b8b;
    border: 2px solid black;
    color: black;
}

.container {
    text-align:center;
}

.research {
    height: 100px;
    background-color:#ff8b8b
    
}

.infographic {
    height: 1000px;
    width: 1000px;
    background-color: #ff8b8b;
    border: 5px solid black;
    border-radius: 3%; 
    font-family: 'Patrick Hand', cursive;
}

.positive {
    position: relative;
    right: 300px;
}

